
<div class="container">
    <div class="form-cdb" [formGroup]="form">
        <label>Valor do investimento</label>
        <input type="number" formControlName="value" />
        <label>Total de meses</label>
        <input type="number" formControlName="months">
        <button (click)="onSubmit()">Calcular</button>
    </div>

    @if (investmentProjection != null)
    {
        <div class="result">
            <h3>Valor total: {{ investmentProjection.total  }}</h3>
            <h3>Impostos: {{ investmentProjection.taxes }} </h3>
            <h3>Valor líquido: {{ investmentProjection.total - investmentProjection.taxes }}</h3>
        </div>
    }
</div>